<!DOCTYPE html>
<html>
	<head>
	{% block headcontent %}
		<title>Super Blog App!</title>
	{% endblock %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

	</head>
	<body>
	{% if user.is_authenticated %}
		<a type="submit" class="btn-xs btn-default" href="{% url "logout" %}"/>logout</a>
	{% else %}
		<a href="{% url "login" %}?next=/blog/">Login</a>
	{% endif %}
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
    <p>{{ message }}</p>
    </div>
    {% endfor %}
</ul>
{% endif %}
	{% block bodycontent %}
		<p>If you see this, you haven't overridden bodycontent block in your template</p>
	{% endblock %}
	</body>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>