{% extends "base.html" %}

{% block bodycontent %}

<form method="post" action="{% url "logout" %}">
{% csrf_token %}

<input type="submit" value="logout" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}