{% extends 'base.html' %}

{% block headcontent %}
		<title>Blog Detail</title>
{% endblock %}
{% block bodycontent %}
<div class="container">
		<div class="jumbotron">
		<h1>{{ post.title }}</h1>
		<div>{{ post.body }}</div>
		</div>
		{% for comment in post.comment_set.all %}
		<div><blockquote><p>{{ comment.comment }}</p>
			<small>{{ comment.author }}</small>
			</blockquote>
		</div>
		
		{% endfor %}
</div>
{% endblock %}
