{% extends 'base.html' %}

{% block headcontent %}
		<title>Blog Listing</title>
{% endblock %}
{% block bodycontent %}
		<div class="container">
		{% if latest_post_list %}
		{% for post in latest_post_list %}
		<div class="col-xs-6 col-md-3"><a href="/blog/{{ post.id }}"><h1>{{ post.title }}</h1></a>
			<p>{{ post.body }}</p>
		</div>
		{% endfor %}
		{% else %}
		<p>There ar no posts</p>
		{% endif %}
		</div>
{% endblock %}
